<app-header></app-header>
<ion-content>
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
    <div fxFlex="97" class="layout-flex-col">
      <ion-card>
        <ion-card-header>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="100" class="layout-flex-col">
              <ion-text color="primary" class="card-heading">GOR Goddess</ion-text>
            </div>
          </div>
        </ion-card-header>
        <ion-card-content>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="100" class="layout-flex-col">
              <ion-text class="text">
                1. Meraama Yaadi
              </ion-text><br>
              <ion-text class="text">
                2. Tulja Yaadi
              </ion-text><br>
              <ion-text class="text">
                3. Manthraal Yaadi
              </ion-text><br>
              <ion-text class="text">
                4. Kankali Yaadi
              </ion-text><br>
              <ion-text class="text"> 
                5. Hinglaj Yaadi
              </ion-text><br>
              <ion-text class="text">
                6. Dwallagar Yaadi
              </ion-text><br>
              <ion-text class="text">
                7. Seethla Yaadi
              </ion-text><br>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
    <div fxFlex="97" class="layout-flex-col">
      <ion-card >
        <ion-card-header>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="100" class="layout-flex-col">
              <ion-text color="primary" class="card-heading">GOR Sadguru's</ion-text>
            </div>
          </div>
        </ion-card-header>
        <ion-card-content>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="100" class="layout-flex-col">
              <ion-text class="text">
                1. Hathiram Bavaji
              </ion-text><br>
              <ion-text class="text">
                2. Sevalal Maharaj ( Feb-15-1739 to Dec-4-1806 )
              </ion-text><br>
              <ion-text class="text">
                3. Ramrao Maharaj ( July-27-1935 to Oct-30-2020 )
              </ion-text><br>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
    <div fxFlex="97" class="layout-flex-col">
      <ion-card >
        <ion-card-header>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="100" class="layout-flex-col">
              <ion-text color="primary" class="card-heading">Few GOR Leaders / Legendries</ion-text>
            </div>
          </div>
        </ion-card-header>
        <ion-card-content>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="100" class="layout-flex-col">
              <ion-text><strong></strong></ion-text><br>
              <ion-text class="text">
                1. Lakhisha Banjara - (July-4-1580 to June-7-1680)
              </ion-text><br>
              <ion-text class="text">
                2. Padmasree Ramsingh Banavath  - (Aug-15-1906 to June-10-2002)
              </ion-text><br>
              <ion-text class="text">
                3. Bhukya Baana Nayak
              </ion-text><br>
              <ion-text class="text">
                4. Veyraali Lambadi Heeri Mudavath - ( Lady Robinhood ) - ( Jan-14-1888 to Sept-06-2008 )
              </ion-text><br>
              <ion-text class="text">
                5. Meetu Bhukya
              </ion-text><br>
              <ion-text class="text">
                6. Jatoth Tanu Nayak
              </ion-text><br>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  
  
  <app-footer></app-footer>
</ion-content>
