<app-header></app-header>
<ion-content>
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
    <div fxFlex="97" class="layout-flex-col">
      <ion-card >
        <ion-card-header>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="97" class="layout-flex-col">
              <ion-text color="primary" class="card-heading">Executives Committee(2023-2025)</ion-text>
            </div>
          </div>
        </ion-card-header>
        <ion-card-content>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="25" class="layout-flex-col">
              <ion-card class="leader-card">
                <ion-card-header class="ion-text-center">
                  <img class="leader-image" src="../../../assets/images/Shankar-Salavath.png" alt="Shankar-Salavath">
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <ion-card-subtitle>
                    <ion-text>Shanker Salavath</ion-text>
                  </ion-card-subtitle>
                  <ion-card-title>
                    <ion-text>President</ion-text>
                  </ion-card-title>
                </ion-card-content>
              </ion-card>  
            </div>
            <div fxFlex="25" class="layout-flex-col">
              <ion-card class="leader-card">
                <ion-card-header class="ion-text-center">
                  <img  class="leader-image" src="../../../assets/images/Ravikiran-Chauhan.png" alt="Ravikiran-Chauhan">
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <ion-card-subtitle>
                    <ion-text>Ravikiran Sabavath</ion-text>
                  </ion-card-subtitle>
                  <ion-card-title>
                    <ion-text>Vice President<br>(Cultural&Community Outreach)</ion-text>
                  </ion-card-title>
                </ion-card-content>
              </ion-card>
            </div>
            <div fxFlex="25" class="layout-flex-col">
              <ion-card class="leader-card">
                <ion-card-header class="ion-text-center">
                  <img  class="leader-image" src="../../../assets/images/Geetha-Vishlavath.jpeg.jpg" alt="">
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <ion-card-subtitle>
                    <ion-text>Geetha Vislavath</ion-text>
                  </ion-card-subtitle>
                  <ion-card-title>
                    <ion-text>Vice President<br>(Women Empowerment)</ion-text>
                  </ion-card-title>
                </ion-card-content>
              </ion-card>
            </div>
            <div fxFlex="25" class="layout-flex-col">
              <ion-card class="leader-card">
                <ion-card-header class="ion-text-center">
                  <img class="leader-image" src="../../../assets/images/Ashok-Angoth.png" alt="Ashok Angoth">
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <ion-card-subtitle>
                    <ion-text>Ashok Angoth</ion-text>
                  </ion-card-subtitle>
                  <ion-card-title>
                    <ion-text>Executive Vice President<br>(Career Advice)</ion-text>
                  </ion-card-title>
                </ion-card-content>
              </ion-card>
            </div>
            <div fxFlex="25" class="layout-flex-col">
              <ion-card class="leader-card">
                <ion-card-header class="ion-text-center">
                  <img class="leader-image" src="../../../assets/images/Sandip-Rathod.png" alt="Sandip-Rathod">
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <ion-card-subtitle>
                    <ion-text>Sandeep Rathod</ion-text>
                  </ion-card-subtitle>
                  <ion-card-title>
                    <ion-text>International Vice President<br>(Global Connect)</ion-text>
                  </ion-card-title>
                </ion-card-content>
              </ion-card>
            </div>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">  
            <div fxFlex="25" class="layout-flex-col">
              <ion-card class="leader-card">
                <ion-card-header class="ion-text-center">
                  <img class="leader-image" src="../../../assets/images/Pradip-Chavan.png" alt="Pradip Chavan">
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <ion-card-subtitle>
                    <ion-text>Pradip Chavan</ion-text>
                  </ion-card-subtitle>
                  <ion-card-title>
                    <ion-text>General Secretary</ion-text>
                  </ion-card-title>
                </ion-card-content>
              </ion-card>
            </div>
            <div fxFlex="25" class="layout-flex-col">
              <ion-card class="leader-card">
                <ion-card-header class="ion-text-center">
                  <img class="leader-image" src="../../../assets/images/Lalu Chavan.jpg" alt="">
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <ion-card-subtitle>
                    <ion-text>Lalu Chavan</ion-text>
                  </ion-card-subtitle>
                  <ion-card-title>
                    <ion-text>Joint Secretary</ion-text>
                  </ion-card-title>
                </ion-card-content>
              </ion-card>        
            </div>
            <div fxFlex="25" class="layout-flex-col">
              <ion-card class="leader-card">
                <ion-card-header class="ion-text-center">
                  <img  class="leader-image" src="../../../assets/images/Arvind-Chavan.png" alt="Arvind-Chavan">
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <ion-card-subtitle>
                    <ion-text>Arvind Chauhan</ion-text>
                  </ion-card-subtitle>
                  <ion-card-title>
                    <ion-text>Treasurer</ion-text>
                  </ion-card-title>
                </ion-card-content>
              </ion-card>
            </div>
            <div fxFlex="25" class="layout-flex-col">
              <ion-card class="leader-card">
                <ion-card-header class="ion-text-center">
                  <img  class="leader-image" src="../../../assets/images/Narendar Dheeravath .jpeg" alt="Narendar">
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <ion-card-subtitle>
                    <ion-text>Narendar Dheeravath</ion-text>
                  </ion-card-subtitle>
                  <ion-card-title>
                    <ion-text>Convenor</ion-text>
                  </ion-card-title>
                </ion-card-content>
              </ion-card>
            </div>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">  
            <div fxFlex="25" class="layout-flex-col">
              <ion-card class="leader-card">
                <ion-card-header class="ion-text-center">
                  <img  class="leader-image" src="../../../assets/images/Girish kumar.jpeg.jpg" alt="">
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <ion-card-subtitle>
                    <ion-text>Girish Kumar Kemavath</ion-text>
                  </ion-card-subtitle>
                  <ion-card-title>
                    <ion-text>Event Manager</ion-text>
                  </ion-card-title>
                </ion-card-content>
              </ion-card>
            </div>
          <div fxFlex="25" class="layout-flex-col">
            <ion-card class="leader-card">
              <ion-card-header class="ion-text-center">
                <img  class="leader-image" src="../../../assets/images/Hanmanthu.jpg" alt="Hanumanth">
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-card-subtitle>
                  <ion-text>Hanmanthu Depavath</ion-text>
                </ion-card-subtitle>
                <ion-card-title>
                  <ion-text>Event and Media Coordinator </ion-text>
                </ion-card-title>
              </ion-card-content>
            </ion-card>
          </div>
          <div fxFlex="25" class="layout-flex-col">
            <ion-card class="leader-card">
              <ion-card-header class="ion-text-center">
                <img  class="leader-image" src="../../../assets/images/thukaram kethavath.jpg" alt="Thukaram">
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-card-subtitle>
                  <ion-text>Thukaram Kethavath</ion-text>
                </ion-card-subtitle>
                <ion-card-title>
                  <ion-text>Student Welfare Coordinator </ion-text>
                </ion-card-title>
              </ion-card-content>
            </ion-card>
          </div>
            <div fxFlex="25" class="layout-flex-col">
              <ion-card class="leader-card">
                <ion-card-header class="ion-text-center">
                  <img  class="leader-image" src="../../../assets/images/Mangulal Dhanavath.png" alt="Mangulal Dhanavath">
                </ion-card-header>
                <ion-card-content class="ion-text-center">
                  <ion-card-subtitle>
                    <ion-text>Mangulal Dhanavath</ion-text>
                  </ion-card-subtitle>
                  <ion-card-title>
                    <ion-text>Student Welfare Coordinator<br>(Onboarding & Govt Grants)</ion-text>
                  </ion-card-title>
                </ion-card-content>
              </ion-card>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  
  <app-footer></app-footer>
</ion-content>
