<app-header></app-header>
<ion-content>
<div class="hero"></div>
<div fxLayout="row" fxLayout.xs="column">
  <div fxFlex="97" class="layout-flex-col">
    <ion-card >
      <ion-card-header class="ion-padding-start">
        <ion-card-title class="ion-padding-start">
          <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1px" class="layout-flex-row">
            <div fxFlex="100" class="layout-flex-col" >
              <ion-text color="primary" class="card-heading">Welcome to GGA</ion-text>
            </div>
          </div>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content class="padding ion-text-justify">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1px" fxLayoutAlign="center" class="layout-flex-row">
          <div fxFlex="100" class="layout-flex-col ion-text-justify">
            <ion-text class="paragraph text">
              GLOBAL GORS ASSOCIATION (GGA) is to provide a platform for all the like-minded,
              passionate and committed people who understand and share the culture, heritage and
              values of Gor community, to participate in its socio-economic development. Preserve,
              maintain, and perpetuate the cultural heritage of Gor community in US and abroad.
              Collaborate with other organizations across the globe to promote the cultural, literacy,
              educational and charitable interests of Gor community. Foster friendship and understanding
              among Gor community. Raise, solicit, collect, and disburse funds, charities, and donations
              for cultural, educational, and charitable purposes either directly or in cooperation with other
              not-for-profit organizations in the US and abroad.
            </ion-text>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</div>

<div fxLayout="row" fxLayout.xs="column">
  <div fxFlex="97" class="layout-flex-col">
    <ion-card >
      <ion-card-header class="ion-padding-start">
        <ion-card-title class="ion-padding-start">
          <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1px" fxLayoutAlign="center" class="layout-flex-row">
            <div fxFlex="100" class="layout-flex-col">
              <ion-text color="primary" class="card-heading">Nayak's Message</ion-text>
            </div>
          </div>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1px" class="layout-flex-row">
          <div fxFlex="15" class="layout-flex-col ion-text-center">
            <img class="nayak-image" src="../../assets/images/Dr Dayanand Nayak.png" alt="nayak-image">
          </div>
          <div fxFlex="85" class="layout-flex-col ion-text-justify">
            <ion-text class="paragraph text">With honor and pride , I am passing this message to all Gor community around the globe, Global Gor Association(GGA) is a novel organization and it’s been organized by few trailblazers for the following important goals for current and future generations.<br><br>

              1. Promote and foster Gor -Banjara heritage and rich culture <br>
              2. Promote all young generation to be proud of our history and culture. <br>
              3. Conduct festivities like Teej and Sevalal Jayanthi which is unique yearly and assemble to discuss the programs that are highly beneficial to our community <br>
              4. Exchange of ideas from Gors around the world and enhances thier success story and pave way for others to follow their ideas. <br>
              5. Help poor and needy in India whenever required <br>
              6. Develop  educational programs to excel education to our younger generation.<br><br>
              
              Let us all come together through GGA platform and develop  camaraderie to achieve our goals.  <br>
              
              Jai Sevalal!</ion-text>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1px" class="layout-flex-row">
              <div fxFlex="100" class="layout-flex-col">
                <ion-card-subtitle class="ion-padding-start"><ion-text>- Dr Dayanand Naik, MD, FACC</ion-text></ion-card-subtitle>
              </div>
            </div>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</div>

<div fxLayout="row" fxLayout.xs="column">
  <div fxFlex="97" class="layout-flex-col">
    <ion-card >
      <ion-card-header class="ion-padding-start">
        <ion-card-title class="ion-padding-start">
          <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1px" fxLayoutAlign="center" class="layout-flex-row">
            <div fxFlex="100" class="layout-flex-col">
              <ion-text color="primary" class="card-heading">President's Message</ion-text>
            </div>
          </div>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1px" class="layout-flex-row">
          <div fxFlex="15" class="layout-flex-col ion-text-center">
            <img class="nayak-image" src="../../assets/images/Kalidas-Porika.png" alt="kalidas-porika-image">
          </div>
          <div fxFlex="85" class="layout-flex-col ion-text-justify">
            <ion-text class="paragraph text">GGA strives to be an extended family to all its members.  Language binds us as one family across state, religion and national boundaries. GGA will strive to build upon this binding agent to promote the brotherhood among Gor families and will work to contribute back to our less fortunate brothers in sub-continent.  Every member of GGA should feel valued and strive to be a productive member of their respective communities. GGA will continue to provide necessary tools, know-how and will inculcate values to our next generation.  Let us cherish our heritage and unique festivals that create harmony with the nature.</ion-text>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1px" class="layout-flex-row">
              <div fxFlex="100" class="layout-flex-col">
                <ion-card-subtitle class="ion-padding-start"><ion-text>- Kalidas Porika</ion-text></ion-card-subtitle>
              </div>
            </div>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</div>

<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
  <div fxFlex="33" class="layout-flex-col">
    <ion-card>
      <ion-card-header>
        <img class="card-photo" src="../assets/images/village-1.jpg" alt="village photo">
      </ion-card-header>
      <ion-card-content class="ion-text-center">
        <ion-card-title>
          <ion-button color="secondary" (click)="navigateTo('charity')">
            <ion-text >Adopt a village</ion-text>
          </ion-button>
        </ion-card-title>
      </ion-card-content>
    </ion-card>
  </div>
  <div fxFlex="33" class="layout-flex-col">
    <ion-card class="adopt-student">
      <ion-card-header>
        <img class="card-photo" src="../../assets/images/student-donate.jpg" alt="student photo">
      </ion-card-header>
      <ion-card-content class="ion-text-center">
        <ion-card-title>
          <ion-button color="secondary" (click)="navigateTo('charity')">
            <ion-text>Adopt a student</ion-text>
          </ion-button>
        </ion-card-title>
      </ion-card-content>
    </ion-card>
  </div>
  <div fxFlex="33" class="layout-flex-col">
    <ion-card class="donate">
      <ion-card-header>
        <img class="card-photo" src="../assets/images/funds-1.jpg" alt="Funds photo">
      </ion-card-header>
      <ion-card-content class="ion-text-center">
        <ion-card-title>
          <ion-button color="secondary" (click)="navigateTo('charity')">
            <ion-text>Donate</ion-text>
          </ion-button>
        </ion-card-title>
      </ion-card-content>
    </ion-card>
  </div>
</div>

<div fxLayout="row" fxLayout.xs="column" >
  <div fxFlex="97" class="layout-flex-col">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <div fxLayout="row" fxLayout.xs="column" >
            <div fxFlex="100" class="layout-flex-col">
              <ion-text color="primary" class="card-heading">Latest News</ion-text>
            </div>
          </div>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content class="news-content">
        <ion-list *ngFor="let news of newsArray">
          <ion-item class="ion-padding-bottom">
            <ion-text class="text"> {{news.description}} </ion-text>
          </ion-item>
        </ion-list>
        <ion-item lines="none">
           <ion-button slot="end" color="secondary" (click)="moreNews()">More News</ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</div>

<app-footer></app-footer>
</ion-content>
